
body{
	background-color: #ffccff;
	padding: 0 4%;
}
.mood
{
	width: 250px;
	height: 250px;
}
h3, h2
{

	font-family: 'Sriracha', cursive;
	color: #990099;

}
h2{
	text-align: center;
	font-family: 'Lemonada', cursive;
}
li{
	font-family: "Comic Sans MS";
}
h4{
	font-family: Arial;
	color: #999966;
}
p{
	font-family: Arial;
	color: #cc6600;
}